<section class="container">
<form class="formulario">
    <h2 class="formulario_titulo" >Nova Transferência</h2>

    <div class="form-field">
      <label class ="form-field__label" for="valor">Valor</label>
      <input class ="form-field__input" id="valor" type="text">
    </div>

    <div class="form-field">
      <label class ="form-field__label" for="Destino">Destino</label>
      <input class ="form-field__input" id="Destino" type="text">
    </div>

    <div class="botao-wrapper">
      <button class="botao">Transferir</button>
    </div>

  </form>
</section>
